tbody{
    color: brown;
    border: 4px color goldenrod;
    margin: 10px;
    background: black;
}
h1{
    color: red;
    width: 150px;
    margin: 5px;
    border: 10px;
    border-color: rgb(215, 3, 3);
    font-size: xx-large;
}
tr{
    margin: 15px;
}
td{
    margin: 50px;
}
p{
    margin-left: 20xp;
    margin-right: 20xp;
    font-size: large;
}
audio-container{
    display: flex;
    align-items: center;
  }

  .profile-pic {
    width: 60px; /* Adjust the size of the profile picture */
    height: 60px;
    border-radius: 50%;
    margin-right: 10px; /* Adjust the spacing between the picture and the audio player */
  }
